@charset "utf-8";
/* CSS Document */
#b1{
   // background-image: url("images/computer-image.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 200px;
    background-attachment: fixed;
}


.fish { position: absolute; top: 40px; left: 40px;
        width:500px;
        hight:500px;
        }
body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background:#f0f3f0;
	width:100%;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
hp1   {color:red;
      font-size: 30px;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    }
ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
//#navigation
//{
//margin:0 auto;
//background-image:url(images/alogo.jpg) ;
//height:530px;
//width:1540px;
//}
h1
{
font:bold 14px/40px Arial, Helvetica, sans-serif;
color: white;
font-size:15px; 
}
h2
{
font:bold 14px/40px Arial, Helvetica, sans-serif;
color: Red;
font-size:35px; 
}
p
{
font:normal 11px/18px Arial, Helvetica, sans-serif;
padding:0 15px 0 0;
}
.more
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#2e3192;
text-decoration:underline;
}
/* header */
#header
{
margin:0 auto;
//background-image:url(images/hioxindia-pharmacy_02.jpg) ;
}
#navigation
{
margin:0 auto;
background:url("images/ad.jpg") 0 0 repeat-x;
height:430px;
width:1540px;
}
#navigation ul
{
list-style:none;
}
#navigation ul li
{
font:normal 18px/40px Arial, Helvetica, sans-serif;
display:block;
padding:0 30px;
margin-top:410px;
float:left;
text-align:center;
}
#navigation ul li a
{
text-decoration:none;
display:block;
color:orange;
}
#navigation ul li a:hover
{
text-decoration:none;
display:block;
color:#FFFFFF;
}
#content
{
margin:0 auto;
width:960px;
}
#content h1
{
font:bold 20px/40px Arial, Helvetica, sans-serif;
color:#0d4689;
}
#content p
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
}

#footer
{
margin:0 auto;
background:#78b6e4;
width:100%;
height:86px;
}
#footer_1
{
//background:url(images/hioxindia-pharmacy_03.jpg) 0 0 no-repeat;
width:960px;
height:86px;
margin:0 auto;
}
#footer_1 ul
{
list-style:none;
padding:15px 0 0 210px;
}
#footer_1 ul li
{
font:normal 14px/18px Arial, Helvetica, sans-serif;
display:block;
padding:0 25px;
float:left;
text-align:center;
}
#footer_1 ul li a
{
text-decoration:none;
display:block;
color:#FFFFFF;
}
#design
{
font:normal 12px/45px Arial, Helvetica, sans-serif;
color:#2e3192;
padding:50px 0 0 350px;
}
#dum
{
text-decoration:none;
color:#2e3192;
}
